NEXT_PUBLIC_SITE_URL=http://localhost:3000
NEXT_PUBLIC_SUPABASE_URL=https://onopnadnhzisjxbfrdch.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=sb_publishable_S7WaVRBRxKfPNOY28L6XDA_9_ZlQXIb

CLOUDINARY_CLOUD_NAME=dahtyb0u3
CLOUDINARY_API_KEY=879319895199243
CLOUDINARY_API_SECRET=es9NqZP-BGwF1CxDWbSv4ehiUOk
CLOUDINARY_UPLOAD_FOLDER=honey-surgicals/products

NEXT_PUBLIC_WHATSAPP_NUMBER=9301232196
NEXT_PUBLIC_CONTACT_PHONE=9301232196
NEXT_PUBLIC_CONTACT_EMAIL=contact@honeysurgical.com
NEXT_PUBLIC_CONTACT_ADDRESS=HONEY SURGICALS, Medical Market, India
